# App Subscription Project

by Carolina S. Lopes

**STRV DATA SCIENCE ACADEMY**

## Defining the business problem

## Data acquisition

#### Importing libraries

In [1]:
import numpy as np
import pandas as pd

#### Loading dataset

In [2]:
df = pd.read_csv('/Users/csergilo/Desktop/strv-ds-academy/app-subscription-strv-academy/datasets/FineTech_appData.csv')

In [3]:
df.head()

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1

In [4]:
df.shape

(50000, 12)

## Data Wrangling

In [5]:
df.columns

Index(['user', 'first_open', 'dayofweek', 'hour', 'age', 'screen_list',
       'numscreens', 'minigame', 'used_premium_feature', 'enrolled',
       'enrolled_date', 'liked'],
      dtype='object')

In [6]:
df.dtypes

user                     int64
first_open              object
dayofweek                int64
hour                    object
age                      int64
screen_list             object
numscreens               int64
minigame                 int64
used_premium_feature     int64
enrolled                 int64
enrolled_date           object
liked                    int64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user                  50000 non-null  int64
 1   first_open            50000 non-null  object
 2   dayofweek             50000 non-null  int64
 3   hour                  50000 non-null  object
 4   age                   50000 non-null  int64
 5   screen_list           50000 non-null  object
 6   numscreens            50000 non-null  int64
 7   minigame              50000 non-null  int64
 8   used_premium_feature  50000 non-null  int64
 9   enrolled              50000 non-null  int64
 10  enrolled_date         31074 non-null  object
 11  liked                 50000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 4.6+ MB

In [9]:
df['screen_list'] = df['screen_list'].apply(lambda x: set(x.split(',')))

In [13]:
list_items = df['screen_list'].notnull()
all_items = set()


for i, item in enumerate (list_items):
    
#     print(item)
    
    if item == True:

            entry = df['screen_list'][i]

            for j in entry:

                # adicionar diferentes itens da coluna em um set
                all_items.add(j)

In [20]:
len(all_items)

137

In [21]:
all_items

{'About',
 'AccountView',
 'AddProperty',
 'AddVehicle',
 'AdverseActions',
 'Alerts',
 'BVPlaidLinkContainer',
 'BVStats',
 'BankVerification',
 'BoostFriendsList',
 'CC1',
 'CC1Category',
 'CC3',
 'CameraScreen',
 'CommunityAndInvites',
 'ContactInfoConfirm',
 'Credit1',
 'Credit2',
 'Credit3',
 'Credit3Alerts',
 'Credit3CTA',
 'Credit3Container',
 'Credit3Dashboard',
 'Credits',
 'Cycle',
 'EditProfile',
 'EmploymentInfo',
 'EmploymentSummary',
 'Finances',
 'FindFriendsCycle',
 'ForgotPassword',
 'GroupedInstitutions',
 'History',
 'Home',
 'IdAndSelfieCameraScreen',
 'IdentityVerification',
 'InstantLoanSSN',
 'InstantOfferCreateAccount',
 'Institutions',
 'LLLoanAmount',
 'LandingScreen',
 'Leaderboard',
 'ListPicker',
 'Loan',
 'Loan1',
 'Loan2',
 'Loan3',
 'Loan4',
 'LoanAppAgreement',
 'LoanAppBankInfo',
 'LoanAppConfirmWithdrawal',
 'LoanAppDenied',
 'LoanAppESign',
 'LoanAppLoan4',
 'LoanAppPaymentSchedule',
 'LoanAppPromoCode',
 'LoanAppReasons',
 'LoanAppRequestAmount',
 'LoanAppScheduleCall',
 'LoanAppSuccess',
 'LoanAppVerifyBankInfo',
 'LoanAppWithdrawn',
 'Login',
 'LoginForm',
 'MLWebView',
 'ManageFinances',
 'NetworkFailure',
 'NetworkUser',
 'NewContactListInvite',
 'Payoff',
 'ProfileAnnualIncome',
 'ProfileChildren',
 'ProfileCompanyName',
 'ProfileEducation',
 'ProfileEducationMajor',
 'ProfileEmploymentLength',
 'ProfileJobTitle',
 'ProfileMaritalStatus',
 'ProfilePage',
 'ProfileVerifyIncomeType',
 'ProfileVerifySSN',
 'Profileproduct_review',
 'ProviderList',
 'ReferralContainer',
 'ReferralScreen',
 'Referrals',
 'ResendToken',
 'ReviewCreditCard',
 'RewardDetail',
 'Rewardjoinscreen',
 'Rewards',
 'RewardsContainer',
 'Saving1',
 'Saving10',
 'Saving2',
 'Saving2Amount',
 'Saving4',
 'Saving5',
 'Saving6',
 'Saving7',
 'Saving8',
 'Saving9',
 'SavingGoalEdit',
 'SavingGoalIncomeSalary',
 'SavingGoalOther',
 'SavingGoalPreview',
 'ScanPreview',
 'SecurityModal',
 'SelectInstitution',
 'Settings',
 'Signup',
 'SignupEmail',
 'SignupName',
 'Splash',
 'TransactionList',
 'VerifyAnnualIncome',
 'VerifyBankInfo',
 'VerifyCountry',
 'VerifyDateOfBirth',
 'VerifyHousing',
 'VerifyHousingAmount',
 'VerifyIncomeType',
 'VerifyMobile',
 'VerifyPhone',
 'VerifySSN',
 'VerifyToken',
 'WebView',
 'WelcomeBankVerification',
 'YourNetwork',
 'idscreen',
 'joinscreen',
 'location',
 'product_review',
 'product_review2',
 'product_review3',
 'product_review4',
 'product_review5'}








---

**Drafts**

In [24]:
df_clean = pd.read_csv('/Users/csergilo/Desktop/strv-ds-academy/app-subscription-strv-academy/datasets/clean_FineTech_appData.csv')

In [25]:
df_clean.head()

,Unnamed: 0,user,dayofweek,hour,age,numscreens,minigame,used_premium_feature,enrolled,liked,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,remain_screen_list,saving_screens_count,credit_screens_count,cc_screens_count,loan_screens_count
0,0,235136,3,2,23,15,0,0,0,0,...,0,0,0,0,0,7,0,0,0,1
1,1,333588,6,1,24,13,0,0,0,0,...,0,0,0,0,0,5,0,0,0,1
2,2,254414,1,19,23,3,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,3,234192,4,16,28,40,0,0,1,0,...,0,0,0,0,0,6,0,3,0,1
4,4,51549,1,18,31,32,0,0,1,1,...,0,0,0,0,0,10,0,2,0,1

In [26]:
df_clean.columns

Index(['Unnamed: 0', 'user', 'dayofweek', 'hour', 'age', 'numscreens',
       'minigame', 'used_premium_feature', 'enrolled', 'liked', 'location',
       'Institutions', 'VerifyPhone', 'BankVerification', 'VerifyDateOfBirth',
       'ProfilePage', 'VerifyCountry', 'Cycle', 'idscreen', 'Splash',
       'RewardsContainer', 'EditProfile', 'Finances', 'Alerts', 'Leaderboard',
       'VerifyMobile', 'VerifyHousing', 'RewardDetail', 'VerifyHousingAmount',
       'ProfileMaritalStatus', 'ProfileChildren ', 'ProfileEducation',
       'ProfileEducationMajor', 'Rewards', 'AccountView', 'VerifyAnnualIncome',
       'VerifyIncomeType', 'ProfileJobTitle', 'Login',
       'ProfileEmploymentLength', 'WebView', 'SecurityModal', 'ResendToken',
       'TransactionList', 'NetworkFailure', 'ListPicker', 'remain_screen_list',
       'saving_screens_count', 'credit_screens_count', 'cc_screens_count',
       'loan_screens_count'],
      dtype='object')