# App Subscription Project

by Carolina S. Lopes

**STRV DATA SCIENCE ACADEMY**

## Defining the business problem

## Data acquisition

#### Importing libraries

In [1]:
import numpy as np
import pandas as pd

#### Loading dataset

In [2]:
df = pd.read_csv('/Users/csergilo/Desktop/strv-ds-academy/app-subscription-strv-academy/datasets/FineTech_appData.csv')

In [3]:
df.head()

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1

In [4]:
df.shape

(50000, 12)

## Data Wrangling

In [5]:
df.columns

Index(['user', 'first_open', 'dayofweek', 'hour', 'age', 'screen_list',
       'numscreens', 'minigame', 'used_premium_feature', 'enrolled',
       'enrolled_date', 'liked'],
      dtype='object')

In [6]:
df.dtypes

user                     int64
first_open              object
dayofweek                int64
hour                    object
age                      int64
screen_list             object
numscreens               int64
minigame                 int64
used_premium_feature     int64
enrolled                 int64
enrolled_date           object
liked                    int64
dtype: object

In [7]:
df.isnull().sum()

user                        0
first_open                  0
dayofweek                   0
hour                        0
age                         0
screen_list                 0
numscreens                  0
minigame                    0
used_premium_feature        0
enrolled                    0
enrolled_date           18926
liked                       0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user                  50000 non-null  int64
 1   first_open            50000 non-null  object
 2   dayofweek             50000 non-null  int64
 3   hour                  50000 non-null  object
 4   age                   50000 non-null  int64
 5   screen_list           50000 non-null  object
 6   numscreens            50000 non-null  int64
 7   minigame              50000 non-null  int64
 8   used_premium_feature  50000 non-null  int64
 9   enrolled              50000 non-null  int64
 10  enrolled_date         31074 non-null  object
 11  liked                 50000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 4.6+ MB

In [35]:
for column in df:
    
#     print(column)
    
    print(column, df[column].unique())

user [235136 333588 254414 ... 302367 324905  27047]
first_open ['2012-12-27 02:14:51.273' '2012-12-02 01:16:00.905'
 '2013-03-19 19:19:09.157' ... '2013-02-20 22:41:51.165'
 '2013-04-28 12:33:04.288' '2012-12-14 01:22:44.638']
dayofweek [3 6 1 4 2 0 5]
hour [' 02:00:00' ' 01:00:00' ' 19:00:00' ' 16:00:00' ' 18:00:00' ' 09:00:00'
 ' 03:00:00' ' 14:00:00' ' 04:00:00' ' 11:00:00' ' 06:00:00' ' 21:00:00'
 ' 05:00:00' ' 17:00:00' ' 20:00:00' ' 00:00:00' ' 22:00:00' ' 10:00:00'
 ' 08:00:00' ' 15:00:00' ' 13:00:00' ' 23:00:00' ' 12:00:00' ' 07:00:00']
age [ 23  24  28  31  20  35  26  29  39  32  25  17  21  55  38  27  48  37
  22  36  30  58  40  33  57  19  45  34  46  56  42  43  41  47  18  53
  44  49  60  50  52  62  63  16  54  70  51  69  68  59  76  75  66  61
  72  65  90  64  67  73  77  71  74  89  78  86  80  82  79  87  81  85
 101  88  83 100  84  98]
screen_list ['idscreen,joinscreen,Cycle,product_review,ScanPreview,VerifyDateOfBirth,VerifyPhone,VerifyToken,ProfileVerifySSN,Loan2,Settings,ForgotPassword,Login'
 'joinscreen,product_review,product_review2,ScanPreview,VerifyDateOfBirth,location,VerifyCountry,VerifyPhone,VerifyToken,Institutions,Loan2'
 'Splash,Cycle,Loan' ...
 'joinscreen,product_review,product_review2,ScanPreview,VerifyCountry,VerifyPhone,VerifyToken,VerifyDateOfBirth,location,Home'
 'Cycle,Home,product_review,product_review,product_review3,ScanPreview,VerifyDateOfBirth,location,VerifyCountry,VerifyPhone,VerifyToken,product_review,product_review,VerifySSN,product_review,SelectInstitution,BankVerification,product_review,product_review'
 'product_review,ScanPreview,VerifyDateOfBirth,VerifyCountry,ProfileVerifySSN,ProfilePage,ProfileEducation,ProfileEducationMajor,Saving2Amount,Saving8,ProfileMaritalStatus,ProfileChildren,Saving2,Saving9,Saving7,Saving6,Saving5,Home,Loan2']
numscreens [ 15  13   3  40  32  14  41  33  19  25  11   4   9  26   6  20   5   8
  42   1  38  49  35  10  52  50  76  37  16  47  90  24  45  31  39  17
  28  27  57  23  21  12   7  18  48  29 136  34  59  89  22  43  36  56
  30   2  44  92  51  70  58  66  46  55  61  75  71  78  85  62  53  54
  73  68  69  63  64  88 106  80 127  74  72 137  83  77  65 104  60  67
  94  81 110  91  82  96 165  79  86 116  99  98 187  84 111 109 107 162
  97 100  95  87 122 216 115 102 128 234 112 108 114 125 119  93 185 192
 189 153 243 103 101 118 325 141 129 133 126 120 123 134 121 105 113 117
 200 247 179 132 144 130 148]
minigame [0 1]
used_premium_feature [0 1]
enrolled [0 1]
enrolled_date [nan '2013-07-05 16:11:49.513' '2013-02-26 18:56:37.841' ...
 '2013-02-25 19:36:56.082' '2013-05-09 13:47:52.875'
 '2013-04-28 12:35:38.709']
liked [0 1]

### Categorical Variables

**user:** unique values corresponding to user ID

**dayofweek:** values ranging from 0 ("Monday") to 6 ("Sunday"), corresponding to the day of the week

**hour:** time category corresponding to the *first_open* variable

**minigame:** 0 \-> user haven't played minigame
        1\-> user played minigame

### Numerical Variables
**first_open:** time at which user created the account 

**age:** user ages

**numscreens:** number of screens visited by the user

## Dealing with lists of screens

In [ ]:
df['screen_list'] = df['screen_list'].apply(lambda x: x.split(','))

In [ ]:
list_items = df['screen_list'].notnull()
all_items = set()


for i, item in enumerate (list_items):
    
#     print(item)
    
    if item == True:

            entry = df['screen_list'][i]

            for j in entry:

                # adicionar diferentes itens da coluna em um set
                all_items.add(j)

In [ ]:
len(all_items)

In [ ]:
all_items

In [ ]:
def my_func(column, group):

    for i, item in enumerate(df[column]):

        for j, jtem in enumerate((pd.Series(df[column][i])).str.startswith(group)):

            if jtem == True:

                df[column][i][j] = group

    #             print(j, df_test['screen_list'][i][j])

In [ ]:
my_func('screen_list', "product_review")

In [ ]:
# Sample output

df['screen_list'][567]

In [ ]:
[i for i in all_items if i.startswith("Credit")]








---

**Drafts**

In [ ]:
df_test = df.head()

In [ ]:
df_test

In [ ]:
df_clean = pd.read_csv('/Users/csergilo/Desktop/strv-ds-academy/app-subscription-strv-academy/datasets/clean_FineTech_appData.csv')

In [ ]:
df_clean.head()

In [ ]:
sorted(df_clean.columns.tolist())

In [ ]:
df_screens = pd.read_csv('/Users/csergilo/Desktop/strv-ds-academy/app-subscription-strv-academy/datasets/top_screens.csv')

In [ ]:
df_screens.head()

In [ ]:
pd.Series(['foo', 'fuz', np.nan]).str.replace('f.', 'ba', regex=True)